.container {
    // border: solid yellow;
    & > * {
        // border: solid tan;
    }
    position: absolute;
    inset: 0;
    // width: 100%;
    z-index: 10;
    background: linear-gradient(#fff, #fafafa);
    color: var(--darkText);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    opacity: 1;
    transition: opacity 0.4s ease-in;

    .header {
        @media (min-width: 768px) {
            align-self: stretch;
            display: flex;
            justify-content: space-between;
        }
    }

    .closeButton {
        background-color: transparent;
        border: none;
    }
    .hideOnLarge {
        @media (min-width: 768px) {
            display: none;
        }
    }
    .hideOnSmall {
        @media (max-width: 768px) {
            display: none;
        }
    }

    &.close {
        opacity: 0;
        z-index: -1;
        transition: all 0.8s;
    }

    @media (min-width: 768px) {
        row-gap: 10px;

        inset: unset;

        margin: 30vh auto;
        padding: 20px;
        border-radius: 10px;
    }
}
