.container {
    // border: solid 1px cyan;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: start;
    @media (min-width: 768px) {
        width: 50%;
    }
    @media (min-width: 1200px) {
        width: 30%;
        height: 40%;
        align-items: center;
    }

    .subContainer {
        & > * {
            // border: solid wheat;
        }
        // border: solid green;
        position: relative;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        // align-items: center;
        @media (min-width: 600px) {
            height: 100%;
            
        }
        @media (max-width: 767px) {
            width: 70%;
            
        }
        @media (min-width: 1200px) {
            // height: 70%;
        }
    }

    &.largeScreen {
        @media (min-width: 768px) {
            width: 50%;
        }
        .subContainer{
            // flex-direction: row;
            // align-items: center;
        }
    }
}

